.App {
  font-family: 'K2D', sans-serif;
}

.App .routes {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.966),
      rgba(255, 255, 255, 0.925)
    ),
    url('./assets/images/back.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

@media (min-width: 1500px) {
  .App {
    width: 1300px;
    margin: auto;
  }
}

html {
  scroll-behavior: smooth;
  transition: all ease-in-out;
}
