.App {
  font-family: 'K2D', sans-serif;
}

.App .routes {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.966),
      rgba(255, 255, 255, 0.925)
    ),
    url('./assets/images/back.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.test {
  background-color: white;
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.test img {
  height: 200px;
  width: 300px;
}
.test h1 {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 65px;
}
